<p id="notice"><%= notice %></p>

<p>
  <b>Serviceorg:</b>
  <%= @exthouse.serviceorg %>
</p>

<p>
  <b>Name:</b>
  <%= @exthouse.name %>
</p>

<p>
  <b>Byear:</b>
  <%= @exthouse.byear %>
</p>

<p>
  <b>Overhault:</b>
  <%= @exthouse.overhault %>
</p>

<p>
  <b>Elevator:</b>
  <%= @exthouse.elevator %>
</p>

<p>
  <b>Consierge:</b>
  <%= @exthouse.consierge %>
</p>

<p>
  <b>User:</b>
  <%= @exthouse.user %>
</p>


<%= link_to 'Edit', edit_exthouse_path(@exthouse) %> |
<%= link_to 'Back', exthouses_path %>
