<h1>Listing stairs</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stairs.each do |stair| %>
  <tr>
    <td><%= stair.name %></td>
    <td><%= link_to 'Show', stair %></td>
    <td><%= link_to 'Edit', edit_stair_path(stair) %></td>
    <td><%= link_to 'Destroy', stair, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stair', new_stair_path %>
