<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @metro.name %>
</p>

<p>
  <b>Town:</b>
  <%= @metro.town %>
</p>


<%= link_to 'Edit', edit_metro_path(@metro) %> |
<%= link_to 'Back', metros_path %>
